* {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	position: absolute;
	margin: 0 auto;
}
.page, .title, .nav, .gedan1, .gedan2, .gedan3 {
	min-width: 1000px;
}
.page {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	/* position: relative; */
	/* padding: 0; */
}
/* 标题栏 */
.title {
	width: 100%;
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inputMusic {
	padding-left: 15px;
	margin-top: 3px;
	border: 0;
	width: 80%;
	height: 80%;
}
.logo {
	margin-left: -40px;
}
.search {
	display: flex;
	border: 1px solid rgb(204, 204, 204);
	width: 22%;
	height: 60%;
	margin-left: 40px;
}
.search>img {
	margin-left: 20px;
	margin-top: 5px;
	width: 30px;
	height: 25px;
}
.else {
	font-size: 13px;
	margin-left: 50px;
}
.else>span:hover{
	color: rgb(12, 142, 217);
}
.login {
	margin-left: 20px;
}
.line {
	margin-left: 20px;
	border-right: 1px solid rgb(204, 204, 204);
	width: 10px;
	height: 20px;
}
button {
	border: 0;
	border-radius: 2px;
	margin-left: 10px;
	width: 50px;
	height: 30px;
	color: white;
	background-color: rgb(22, 154, 243);
}
button:hover {
	background-color: rgba(12, 142, 217,0.9);
}
span {
	margin-left: 15px;
	color: gray;
}
/* 轮播图标题 */
.nav {
	width: 100%;
	margin: 0 auto;
	height: 500px;
}
.menu {
	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: rgb(44, 50, 59);
}
.shouye, .bangdan, .download, .more {
	padding-top: 20px;
	text-align: center;
	height: 67%;
}
.shouye {
	width: 6%;
	background-color: rgb(12, 142, 217);
}
.bangdan {
	width: 6%;
}
.download {
	width: 9%;
}
.bangdan:hover, .download:hover {
	background-color: rgb(12, 142, 217);
}
.more {
	width: 10%;
}
.more>a {
	pointer-events: none;
}
.moreList {
	padding: 0;
	position: absolute;
	top: 15.2%;
	width: 10%;
	left: inherit;
	float: left;
	background-color: rgba(44, 50, 59, 1);
	z-index: 10;
}
.moreList>li {
	padding-top: 10px;
	list-style: none;
	padding-left: -10px;
	text-align: center;
	height: 25px;
	font-size: 16px;
}
.jiantou {
	text-decoration: none;
	color: rgb(187, 187, 187);
	font-size: 2px;
}
.moreList>li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.hover {
	background-color: rgb(12, 142, 217);
}
.elseImform {
	/* padding-top: 20px; */
	padding-left: 100px;
	text-align: center;
}
.elseImform>a {
	text-decoration: none;
	margin-left: 12px;
	font-size: 13px;
	color: rgb(187, 187, 187);
}
.elseImform>a:hover {
	color: rgb(12, 142, 217);
}
.slid {
	position: relative;
	width: 100%;
	height: 88%;
	background-size: 100% 100%;
	transition: background-image 1s ease-in-out;
}
/* 轮播图-图片 */
.jiantou>a {
	text-decoration: none;
	color: gainsboro;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 12%;
	background-color: rgba(44, 50, 59, 0.1);
}
.jiantou>a:nth-of-type(1):hover, .jiantou>a:nth-of-type(2):hover {
	background-color: rgba(44, 50, 59, 0.3);
}
.jiantou>a:nth-of-type(1) {
	padding-left: 10px;
	float: left;
}
.jiantou>a:nth-of-type(2) {
	padding-right: 10px;
	float: right;
}
.dot {
	text-align: center;
	position: relative;
	top: 77%;
	width: 100%;
	height: 6%;
}
.dot>a {
	text-decoration: none;
	font-size: 24px;
	text-shadow: 0px 0px 7px #FFFFFF;
	color: seashell;
}
.downloadOption{
	position: absolute;
	/* top:25%; */
	bottom: 0px;
	width: 100%;
	height: 14%;
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}
.downloadOption>a {
	display: block;
	margin-left: 3%;
	margin-right: 3%;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.downloadOption>a:hover {
	color: beige;
}
.downloadOption>span {
	/* margin-top: 1.6%; */
	font-size: 10px;
	color: gainsboro;
}
.gedan1 {
	width: 100%;
	min-width: 1000px;
	height: 430px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.jingxuan, .xinge,.diantai {
	width: 650px;
}
.mingchen {
	position: relative;
	width: 100%;
	height: 22%;
	display: flex;
	align-items: center;
	font-size: 28px;
	color: rgba(101, 101, 101, 0.7);
	font-weight: 340;
	font-family: "微软雅黑";
}
.mingchen>h3 {
	font-size: 30px;
	font-weight: 100;
	color: rgb(51, 172, 246);
}
.mingMore {
	text-decoration: none;
	position: absolute;
	right: 0;
	color: rgba(101, 101, 101, 0.7);
	padding-top: 19px;
	font-size: 10px;
}
.mingMore:hover {
	color: rgb(51, 172, 246);
}
.jingContent, .xinContent ,.dianContent{
	/* position: relative; */
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 78%;
}
.img1, .Mvfirst {
	position: relative;
	width: 325px;
	height: 325px;
	background-image: url(../image/2-1.jpg);
	background-position: 100% 100%;
}
.img1_hover {
	position: absolute;
	width: 325px;
	height: 325px;
	/* 导致点击无效 */
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.img1_hover>span {
	position: absolute;
	display: block;
	margin-right: 5px;
	margin-bottom: 2px;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 36px;
}
.playNum {
	position: relative;
	display: flex;
	align-items: center;
	width: 40%;
	height: 35px;
	float: right;
	font-size: 13px;
	background: linear-gradient(90deg, rgba(112, 128, 144, 0), rgba(90, 90, 90, 1));
}
.playNum>span {
	position: absolute;
	color: white;
	font-size: 13px;
}
.playNum>span:nth-child(1) {
	right: 45px;
	font-size: 17px;
}
.playNum>span:nth-child(2) {
	right: 7px;
}
.buttom1, .buttom2 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 15px;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.6);
}
.buttom1>p, .buttom2>p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 10px;
}
.buttom1>p {
	width: 20em;
}
.buttom1>span, .buttom2>span {
	padding-left: 10px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 6em;
	margin-left: 0;
}
.buttom2>p {
	width: 6em;
}
.img1>img {
	width: 100%;
	height: 100%;
}
.img2 {
	position: relative;
	display: flex;
	margin-left: 1%;
	width: 325px;
	height: 325px;
}
.img2_hover {
	position: absolute;
	width: 100%;
	height: 100%;
	/* 导致点击无效 */
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.img2_hover>span {
	position: absolute;
	display: block;
	margin-right: 5px;
	margin-bottom: 2px;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 36px;
}
.remen_hover {
	position: absolute;
	width: 30.7%;
	height: 100%;
	/* 导致点击无效 */
	pointer-events: none;
	/* background-color: red; */
	background-color: rgba(0, 0, 0, 0.4);
}
.remen_hover>span {
	position: absolute;
	display: block;
	display: f;
	right: 30%;
	bottom: 30%;
	color: white;
	font-size: 36px;
}
.img21, .img22, .img23, .img24 {
	position: absolute;
	width: 49%;
	height: 49%;
}
.img21 {
	left: 0;
	background-image: url(../image/2-2.jpg);
}
.img22 {
	left: 49%;
	margin-left: 2%;
	background-image: url(../image/2-3.jpg);
}
.img23 {
	left: 0;
	top: 49%;
	margin-top: 2%;
	background-image: url(../image/2-4.jpg);
}
.img24 {
	left: 49%;
	top: 49%;
	margin-left: 2%;
	margin-top: 2%;
	background-image: url(../image/2-5.jpg);
}
.remen, .tuojianMv {
	width: 320px;
	margin-left: 30px;
}
.reList {
	height: 325px;
}
.reList>div>img {
	width: 98px;
	height: 98px;
}
.reList>div:nth-child(2) {
	margin-top: 15px;
	margin-bottom: 15px;
}
.biaosheng, .Top500, .hongge {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: rgb(246, 246, 246);
}
.biaosheng>span, .Top500>span, .hongge>span {
	position: absolute;
	top: 50%;
	right: 3px;
}
.List {
	padding-left: 12px;
}
.List>p {
	color: #545454;
	/* font-family: "楷体"; */
	font-size: 13px;
	width: 190px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.gedan2 {
	position: relative;
	width: 100%;
	height: 430px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	/* background-color: gold; */
}
.playAll {
	position: absolute;
	color: grey;
	right: 0;
	border: 1px solid gainsboro;
	width: 90px;
	height: 32px;
	background-color: inherit;
}
.playAll:hover {
	border: 1px solid rgb(51, 172, 246);
	color: rgb(51, 172, 246);
	background-color: inherit;
}
.playAll>p {
	position: relative;
	color: inherit;
	left: 10px;
	font-size: 13px;
}
.playAll>span {
	position: absolute;
	left: 5px;
	top: 10px;
	color: inherit;
	display: block;
	margin-top: -4px;
	margin-left: 0;
	float: left;
	font-size: 20px;
}
.xinContent {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #e2e2e2;
	margin-top: -20px;
	padding-top: 10px;
}
.xingeInform{
	margin-bottom: 10px;
	margin-left: 17px;
}
.xingeInform>span:nth-child(1) {
	color: rgb(51, 172, 246);
}
.xingeInform>span:hover {
	color: rgb(51, 172, 246);
}
.xingeInform>span {
	font-size: 14px;
	color: rgb(0, 0, 0);
}
.huaSong>div>div,.ouSong>div>div,.hanSong>div>div,.riSong>div>div{
	width: 100%;
	height: 35px;
	position: relative;
	display: flex;
	font-size: 14px;
	align-items: center;
	overflow: hidden;
	/* display: none; */
}
.huaSong,.hanSong,.riSong{
	display: none;
	
}
.huaSong>div:hover,.ouSong>div:hover,.hanSong>div:hover,.riSong>div:hover {
	background-color: rgba(51, 172, 246, 0.05);
	color: rgb(51, 172, 246);
}
/* 使用父元素控制子元素显示或者隐藏 */
.huaSong>div:hover .showPlayButtom,.huaSong>div:hover .showPlayButtom,
.hanSong>div:hover .showPlayButtom,.riSong>div:hover .showPlayButtom{
	visibility: visible;
}
.songName {
	margin-left: 10px;
}
.songTime {
	font-size: 13px;
	position: absolute;
	right: 0;
}
.showPlayButtom {
	display: flex;
	position: absolute;
	right: 45px;
	visibility: hidden;
}
.showPlayButtom>span {
	display: block;
	font-size: 17px;
	margin: 0;
}
.showPlayButtom>span:nth-of-type(2) {
	font-size: 15px;
	margin-left: 7px;
}
.showPlayButtom>span:nth-of-type(1):hover, .showPlayButtom>span:nth-of-type(2):hover {
	color: rgb(51, 172, 246);
}
.mvFirst,.geshouFirst {
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: -20px;
}
.mvFirst>div:nth-of-type(1) {
	position: relative;
	top: 0;
	width: 320px;
	height: 175px;
	background-image: url(../image/3-1.jpg);
	background-size: 100% 100%;
}
.mvFirst>div:nth-of-type(1)>buttom1 {
	position: relative;
	bottom: 0;
}
.mvFirst>div:nth-of-type(2), .mvFirst>div:nth-of-type(3) {
	position: absolute;
	top: 55%;
	height: 124px;
}
.mvFirst>div:nth-of-type(3) {
	left: 52%;
}
.mvFirst>div:nth-of-type(2)>div, .mvFirst>div:nth-of-type(3)>div {
	position: relative;
	width: 154px;
	height: 84px;
	background-size: 100% 100%;
}
.mvFirst>div:nth-of-type(2)>div {
	background-image: url(../image/3-2.jpg);
}
.mvFirst>div:nth-of-type(3)>div {
	background-image: url(../image/3-3.jpg);
}
.mvFirst>div:nth-of-type(2)>p, .mvFirst>div:nth-of-type(3)>p {
	position: absolute;
	top: 89px;
	font-size: 14px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.mvFirst>div:nth-of-type(2)>p:hover, .mvFirst>div:nth-of-type(3)>p:hover {
	color: rgb(51, 172, 246);
}
.mvFirst>div:nth-of-type(2)>span, .mvFirst>div:nth-of-type(3)>span {
	position: absolute;
	display: block;
	top: 108px;
	font-size: 12px;
	margin-left: 0;
}
.mvFirst_hover,.geshou_hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.mvFirst_hover>span {
	position: absolute;
	pointer-events: none;
	display: block;
	right: 43%;
	bottom: 35%;
	color: rgba(255, 255, 255, 0.8);
	font-size: 46px;
}
.mvFirst_hover1{
	position: absolute;
	top: 20%;
	left: 25%;
}
.showPlayButtom1:hover .mvFirst_hover {
	display: block;
}
.mvFirst>div:nth-child(2):hover .mvFirst_hover {
	display: block;
}
.mvFirst>div:nth-child(3):hover .mvFirst_hover {
	display: block;
}
.xingePages{
	width: 100%;
	height: 10%;
	font-size: 10px;
	margin: 10px auto;
	text-align: center;
	color: gray;
	/* background-color: red; */
}
.xingePages>span{
	padding-right: 15px;
	font-size: 15px;
}
.xingePages>span:hover{
	cursor: pointer;
}
.gedan3 {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	margin-top: -25px;
	display: flex;
	justify-content: center;
}
.dianContent{
	width: 650px;
	position: absolute;
	top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.dianContent>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
.dianContent>div>div{
	position: relative;
	/* margin-right: 35px; */
	width: 100px;
	height: 130px;
	text-align: center;
	z-index: 100;
}
.dianContent>div>div>a>img{
	width: 100px;
	border-radius: 50%;
}
.dianContent>div>div>span{
	margin-left: 0;
	margin-top: 6px;
	font-size: 14px;
	display: block;
	color: black;
}
.dianContent>div>div>span:hover{
	color: rgb(51, 172, 246);
}
.dianContent>div:hover .dianContent>div>span{
	color: rgb(51, 172, 246); 
}
.dianFirst_hover {
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: 77%;
	display: none;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.3);
}
.dianFirst_hover>span {
	position: absolute;
	right: 30%;
	bottom: 29%;
	pointer-events: none;
	display: block;
	border-radius: 50%;
	background-color:rgba(0,0,0,0.8) ;
	color: rgba(255,255,255,0.8) ;
	font-size: 35px;
}
.dianContent>div>div:hover .dianFirst_hover{
	display: block;
}
.geshouInform{
	margin-bottom: 10px;
}
.geshouInform>span:nth-child(4){
	font-size: 13px;
	color: gray;
}
.geshouInform>span {
	font-size: 14px;
	font-weight: 400;
	color: rgb(0, 0, 0);
}
.geshouInform>span:hover{
	color: rgb(51, 172, 246);
}
.geshouInform>span:nth-child(1){
	color: rgb(51, 172, 246);
}
.geshouList{
	margin-top: 15px;
	list-style: none;
	background-color: antiquewhite;
}
.geshouList>li{
	float: left;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
.geshouList>li:nth-child(1){
	margin-right: 10px;
}
.geshouList>li:nth-child(1),
.geshouList>li:nth-child(2){
	width: 150px;
	height: 150px;
	margin-bottom: 13px;
}
.geshouList>li:nth-child(3),
.geshouList>li:nth-child(4){
	margin-right: 5px;
}
.geshouList>li:nth-child(3),
.geshouList>li:nth-child(4),
.geshouList>li:nth-child(5){
	width: 100px;
	height: 100px
}
.geshouList>li>img{
	width: 100%;
	height: 100%;
	float: left;
}
.geshouList>li>span{
	display: block;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 93%;
	height: 20px;
	z-index: 100;
	position: absolute;
	left: -16px;
	bottom:0px;
	color: white;
	font-size: 13px;
	background-image: linear-gradient(to top,rgb(0,0,0,0.4),rgb(0,0,0,0));
}
.geshouDot {
	text-align: center;
	position: relative;
	width: 100%;
	height: 6%;
}
.geshouDot>a {
	text-decoration: none;
	font-size: 19px;
	text-shadow: 0px 0px 7px #FFFFFF;
	color: rgb(204,204,204);
}
.geshouDot>a:nth-child(1){
	color: rgb(51, 172, 246);
}
.youLink{
	width: 100%;
	height: 150px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.youqing{
	width: 985px;
	height: 60px;
}
.youqingContent{
	margin-top: 20px;
	width: 985px;
	height: 150px;
	float: left;
}
.youqingContent>a{
	color: rgb(75,75,113);
	font-size: 12px;
	text-decoration: none;
	width: 90px;
	margin-right: 30px;
	margin-bottom: 25px;
	display: inline-block;
}
.youqingContent>a:hover{
	color: rgb(51, 172, 246);
}
.bottom{
	width: 100%;
	min-width: 1000px;
	height: 320px;
	margin-top: 20px;
	background-color: rgb(44,50,59);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bottomLink{
	width: 80%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 13px;
	font-size: 13px;
	color: rgb(177,179,185);
}
.bottomLink>div>a{
	margin-right: 12px;
	font-size: 12px;
	color: rgb(177,179,185);
	text-decoration: none;
}
.bottomLink>div>a:hover{
	color: rgb(51, 172, 246);
}
.bottomContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -15px;
	width: 100%;
	height: 271px;
	border-top: .3px solid #5f5f5f;
	/* background-color: aqua; */
	font-size: 13px;
	color: rgb(177,179,185);
}
.bottomContent>p{
	margin-bottom: 11px;
}
.bottomContent>p>a{
	text-decoration: none;
	color: rgb(177,179,185);
}
.bottomContent>p>a:hover{
	color: rgb(51, 172, 246);
}